@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
h1 {
    margin: 10px;
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}
h2,h3,h4,h5,h6 {
  margin-left: 10px;
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}